* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(photos/wallPic.jpg);
  background-repeat: no-repeat;
  background-origin: content-box;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-color: white;
}

/* NOTE: nav */

header {
  display: flex;
  justify-content: flex-end;
}

header a {
  text-decoration: none;
}

header span {
  padding: 10px;
  color: black;
  font-family: 'Molle', cursive;
  color: #7A9DB9;
  font-size: 1em;

}

header nav {
  padding: 10px;
  margin-top: 10px;
}

header a:hover {
  font-weight: bold;
  color: #F6B76E;
}

header span:hover {
  color: #F6B76E;
  text-shadow: 3px 3px 3px black;
}

/* NOTE: title */

.title {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  flex-wrap: wrap;
}

.title h1 {
  font-family: 'Molle', cursive;
  font-size: 4em;
  text-align: center;
  color: #7A9DB9;
  text-shadow: 3px 3px 3px black;
}

/* NOTE: welcome */

.welcome {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  margin-top: 60px;
}

.welcome p {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: #7A9DB9;
  font-size: 1em;
}

/* NOTE: photos */

.photos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  margin-top: 60px;
}

/* NOTE: high opacity color over pic removed while hover? */

.photos img {
  width: 250px;
  height: 200px;
  margin-top: 10px;
  border-radius: 15%;
  opacity: 0.7;
  box-shadow: 5px 5px 5px black;
}

.photos img:hover {
  opacity: 1;

}

/* NOTE: footer */

footer {
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  height:30px;
  text-align: center;
}

footer span {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: .75em;
  margin-top: 200px;
  color: #7A9DB9;
}

/* NOTE: media queries */

@media screen and (max-width: 767px) {
  footer {
    position: relative;
    bottom:0;
    left:0;
    right:0;
    height:30px;
    margin-top: 200px;
    text-align: center;
  }
}

@media screen and (max-width: 400px) {

  #head {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  nav {
    display: flex;
    flex-direction: column;

  }

  header {
    justify-content: flex-start;
  }

  header span {
    display: inline-block;
    padding-top: 5px;
  }

}
